!!!
html(ng-app="japb")
  head
    meta(charset='utf8')
    base(href='/')
    title= title
    link(rel='icon', href='/favicon.ico', type='image/x-icon')

    // Twitter Bootstrap hosted for production
    // link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/3.0.0/css/bootstrap.min.css')

    // boostrap local for development
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')

    // App styles
    link(rel='stylesheet', href='/css/style.styl')

  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          button.btn.btn-navbar(type='button',
                                data-toggle='collapse',
                                data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') JAPB
          div.nav-collapse.collapse
            ul.nav
              li.active
                a(href='/') Home
              li.dropdown
                a.dropdown-toggle(href='#',
                                  data-toggle='dropdown') Admin
                ul.dropdown-menu
                  li
                    a(href='/addPost') New Post
            div.pull-right.sign-in
              if username==undefined
                p Anonymous <a href='/signin'>(sign in)</a>
              else
                p #{username}
    div.container
      block content
    include footer

    // Angular hosted for production
    //script(src='http://code.angularjs.org/1.2.7/angular.min.js')
    //script(src='http://code.angularjs.org/1.2.7/angular-resource.min.js')
    //script(src='http://code.angularjs.org/1.2.7/angular-route.min.js')
    //script(src='http://code.angularjs.org/1.2.7/angular-cookies.min.js')
    //script(src='http://code.angularjs.org/1.2.7/angular-sanitize.min.js')

    // Angular local for development 
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-resource/angular-resource.js')
    script(src='/bower_components/angular-route/angular-route.js')
    script(src='/bower_components/angular-cookies/angular-cookies.js')
    script(src='/bower_components/angular-sanitize/angular-sanitize.js')

    // Bootstrap hosted for production
    // script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/3.0.0/js/bootstrap.min.js')

    // Bootstrap locally for development
    script(src='/bower_components/jquery/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')

    //App Javascripts
    script(src='/js/services.js')
    script(src='/js/controllers.js')
    script(src='/js/filters.js')
    script(src='/js/directives.js')
    script(src='/js/app.js')
