form.form-signin(name='form')
  h2.form-signin-heading Create Account
  input.input-block-level(type='text',
                          ng-model='user.username', 
                          name='username', 
                          required,
                          placeholder='Username')
  input.input-block-level(type='email', 
                          ng-model='user.email', 
                          name='email', 
                          required,
                          placeholder='Email address')
  input.input-block-level(type='password', 
                          ng-model='user.password', 
                          name='password', 
                          id='password',
                          required,
                          placeholder='Password')
  input.input-block-level(type='password', 
                          placeholder='Confirm Password', 
                          name='confirm-password',
                          id='confirm-password',
                          required,
                          same-as='password')
  label.checkbox Remember me
    input(type='checkbox', value='remember-me')
  button.btn.btn-large.btn-primary(type='submit',
                                   ng-disabled='form.$invalid',
                                   ng-click='registerUser(user)') Create