!!!
html(ng-app="japb")
  head
    meta(charset='utf8')
    base(href='/')
    title= title
    
    //bootstrap hosted for production
    //link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css')
    
    //boostrap local for debugging
    link(rel='stylesheet', href='/public/lib/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/public/lib/bootstrap/css/bootstrap-responsive.css')
    
    //App styles
    link(rel='stylesheet', href='/public/css/style.css')
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          button.btn.btn-navbar(type='button',
                                data-toggle='collapse',
                                data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') JAPB
          div.nav-collapse.collapse
            ul.nav
              li.active
                a(href='/') Home
              li.dropdown
                a.dropdown-toggle(href='#',
                                  data-toggle='dropdown') Admin
                ul.dropdown-menu
                  li
                    a(href='/addPost') New Post
            div.pull-right.sign-in
              if username==undefined
                p Anonymous <a href='/signin'>(sign in)</a>
              else
                p #{username}
    div.container
      block content
    include footer

    //JQuery hosted for production (1.10.2 not hosted yet, but 1.10.1 not available from jQuery.
    //Local development continues on 1.10.2 on the hope that Google will host it eventually.)
    //script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')

    //JQuery local for debugging
    script(src='/public/lib/jquery/jquery-1.10.2.js')

    //Angular hosted for production
    //script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
    //script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js')

    //Angular local for debugging
    script(src='/public/lib/angular/angular.js')
    script(src='/public/lib/angular/angular-resource.js')
    script(src='/public/lib/angular/angular-cookies.js')
    script(src='/public/lib/angular/angular-sanitize.js')
    script(src='/public/lib/angular/angular-resource.js')

    //Bootstrap hosted for production
    //script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js')

    //Bootstrap local for debugging
    script(src='/public/lib/bootstrap/js/bootstrap.js')
    
    //App Javascripts
    script(src='/public/js/app.js')
    script(src='/public/js/services.js')
    script(src='/public/js/controllers.js')
    script(src='/public/js/filters.js')
    script(src='/public/js/directives.js')
